# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# Streamlit cache
.streamlit/

# MacOS / Windows system files
.DS_Store
Thumbs.db
